{% include 'header.twig' %}
<h2>Blacklisting</h2>
<p>Your eMail {{ user.email }} of user "{{ user.display }}" was blacklisted. For technical reasons it may take a few minutes until this takes effect.</p>
{% include 'footer.twig' %}
