{% include 'header.twig' %}
<h2>Blacklisting</h2>
<p>Your eMail couldn't be found in our system. Please send a mail from your affected address to {{ email }} to have it manually checked.</p>
{% include 'footer.twig' %}
