        </div>
        <div id="footer">
            &copy; Björn "Idrinth" Büttner - <a href="/imprint">Imprint</a>
        </div>
        <script src="/notifications.js"></script>
    </body>
</html>