        </div>
        <div id="footer">
            &copy; Björn "Idrinth" Büttner - <a href="/imprint">Imprint</a> - <a href="https://github.com/idrinth/tickets" target="_blank">Github Source Code</a>
        </div>
        <script src="/notifications.js"></script>
        <script src="/work-time.js"></script>
    </body>
</html>