<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Idrinth's Ticketing System</title>
        <meta charset="utf8"/>
        <link href="/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="header">
            <img src="/logo.png" alt="Logo"/>
            <strong>Idrinth's Ticketing System</strong>
        </div>
        <div id="nav">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                {% for project in projects %}
                    <li><a href="/{{ project.slug }}">{{ project.name }}</a></li>
                {% endfor %}
                </ul>
            </nav>
        </div>
        <div id="content">