{% include 'header.twig' %}
<form method="post">
    <label for="mail">eMail</label>
    <input type="email" id="mail" name="mail" required/>
    <label for="display">Display-Name</label>
    <input type="text" id="display" name="display" required/>
    <button type="submit">Login or Register</button>
</form>
<a href="/discord-login">Login or Register with Discord</a>
{% include 'footer.twig' %}