{% include 'header.twig' %}
<h1>your Profile</h1>
<form method="post">
    <label for="display">Your Display Name</label>
    <input type="text" value="{{ user.display }}" name="display" id="display" required/>
    <label for="email">Your eMail</label>
    <input type="email" disabled value="{{ user.email }}" id="email"/>
    <label for="discord">Enable Discord Updates</label>
    <input type="hidden" value="0" name="enable_discord_update"/>
    <input type="checkbox" value="1" {% if user.enable_discord_update == '1' %}checked{% endif %} name="enable_discord_update" id="enable_discord_update"/>
    <label for="enable_mail_update">Enable Mail Updates</label>
    <input type="hidden" value="0" name="enable_mail_update"/>
    <input type="checkbox" value="1" {% if user.enable_mail_update == '1' %}checked{% endif %} name="enable_mail_update" id="enable_mail_update"/>
    <button type="submit">Update Preferences</button>
</form>
{% include 'footer.twig' %}