{% include 'header.twig' %}
<h1>Time Spent</h1>
<table>
    <thead>
        <tr>
            <th>Day</th>
            <th>Duration</th>
            <th>User</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        {% for ts in times %}
            <tr>
                <th>{{ ts.day }}</th>
                <td>{{ ts.duration | date('H:i') }}</td>
                <td>{{ ts.user }}</td>
                <td>{{ ts.project }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'footer.twig' %}