#nav {
    background: black;
    > nav > ul {
        display: flex;
        padding: 0;
        margin: 0;
        > li {
            display: block;
            list-style: none;
            padding: 1em;
            background: rgba(255,255,255,0.1);
            color: #fff;
            > ul {
                display: none;
                > li {
                    display: block;
                    width: auto;
                    padding: 0.25em;
                    margin: 0;
                }
            }
            a {
                color: #fff;
            }
        }
        > li:hover > ul {
            display: block;
            position:absolute;
            background: #111;
            width: auto;
            margin: 0;
            padding: 0;
        }
    }
}
#header {
    color: #fff;
    background: black;
    display: flex;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.3), rgba(255,255,255,0));
    strong,span {
        padding: 1em;
    }
}
#footer {
    color: #fff;
    background: #000;
    > a {
        color: #fff;
    }
}
#content {
    background: #eee;
}
h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0;
}
.ticket {
    padding: 0.1em;
    border-radius: 0.2em;
    margin: 0.3em;
    box-shadow: 2px 2px 3px #ccc;
    &.bug {
        background: #fdd;
    }
    &.service {
        background: #ddf;
    }
    &.feature {
        background: #dfd;
    }
}
.board {
    display: flex;
}
#content a {
    color: #a00;
}
h1,h2,h3,h4,h5,p {
    padding: 0.5em;
    margin: 0;
}
#content ul {
    margin: 0;
    padding: 0.5em;
    padding-left: 2em
}
.detail,.comment {
    border-radius: 0.25em;
    box-shadow: 2px 2px 3px #000;
    display: block;
}
.detail {
    &.bug {
        background: #edd;
    }
    &.service {
        background: #dde;
    }
    &.feature {
        background: #ded;
    }
    > .description {
        border: 1px solid #ccc;
        border-radius: 0.2em;
        padding: 0.3em;
    }
}
table {
    border-collapse: collapse;
}
th,td,tr {
    border: 1px solid #ddd;
}
th,td {
    padding: 0.25em;
    text-align: center;
}
form {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2em;
    border: 1px solid #ccc;
    margin: 0 5%;
    width: 90%;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px #ccc;
}
#notifications li {
    display: block;
    background-color: rgba(255,255,255,0.3);
    border-radius: 2em;
    a {
        color: #fff;
    }
}